form{
    display: flex;
    flex-direction: column;
}
img{
    
    width: 25%;
    
}
p{
    padding-bottom: 0em;
}
input{
    margin-bottom: 1rem;
    padding: 0.5em;
    background-color: rgb(112, 110, 98);
    border: 1px solid white;
    color:white;
    min-width: 15em;
}
input::placeholder{
    color: white;
}
button{
    background: green;
    padding:0.5em;
}
.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}