/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}
body{
    background-color: rgb(112, 110, 98);
    margin:0;
}
h1,p,button{
    color:white;
}